header {
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    position: relative;
}

/* Divider between nav links */
.nav-link:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 1px;
    background-color: #ddd;
}

/* Responsive adjustments for nav */
@media only screen and (min-width: 800px) {
    .nav-divider {
        border-right: 1px solid rgba(0, 0, 0, 0.199);
    }

    .nav-link {
        padding: 0rem 1rem;
    }

    @media (min-width: 992px) {
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 2rem !important;
            padding-left: .5rem;
        }
    }
}

/* Button styles */
.btn-dark {
    background: #5C636A !important;
    border-color: #5C636A !important;
}

.logo {
    width: 50px;
    height: auto;
    margin-bottom: 15px;
}